<div class="flex min-h-screen
 bg-slate-100 dark:bg-slate-950
  text-black dark:text-white">
  <!-- Sidebar -->
  <aside class="w-64
    bg-white
    dark:bg-slate-900 
    border-r
    border-slate-200 
    dark:border-slate-800 
    p-6 
    hidden 
    md:block">
    <h1 class="text-2x1 font-bold mb-10 ">
      Study With Me
    </h1>
    <nav class="space-y-3">
      <a  routerLink="" class="block p-3 rounded-x1 hover:bg-slate-200 transition dark:hover:bg-slate-800">
        Dashboard
      </a>
      <a routerLink="/focus" class="block p-3 rounded-x1 hover:bg-slate-200 dark:hover:bg-slate-800 transition">
        Focus
      </a>
      <a routerLink="/goals" class="block p-3 rounded-x1 hover:bg-slate-200 dark:hover:bg-slate-800 transition">
        Goals
      </a>
      <a routerLink="/analytics" class="block p-3 rounded-x1 hover:bg-slate-200  dark:hover:bg-slate-800 transition">
        Analytics
      </a>      
      <a routerLink="/settings" class="block p-3 rounded-x1 hover:bg-slate-200 dark:hover:bg-slate-800 transition">
        Settings
      </a>
    </nav>
  </aside>

  <!-- Main Content -->
  <main class="flex-1 p-6">
    <router-outlet></router-outlet>
  </main>

</div> 